<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <title>{{ page.title }} Caren V. Garcia</title>
 <meta name="description" content="Sharing knowledge and empowering individuals">

 <link rel="stylesheet" href="/assets/main.css">
 <link rel="canonical" href="http://carenvaleria.github.io/">
 <link rel="alternate" type="application/rss+xml" title="Caren V. Garcia" href="/feed.xml">

 {% include analytics.html %}
</head>
