<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        
        <div class="site">
          <h1 class="box">I'm a box</h1>
         {% include nav.html %} 

          
          {{ content }}
          
          
          <div class="footer">
            <div class="contact">
              <p>
                Caren V. Garcia<br />
                Aspiring Web Developer<br />
                carenvaleria90@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/carenvaleria">github.com/carenvaleria</a><br />
                <a href="https://twitter.com/carenvaleria">twitter.com/carenvaleria</a><br />
              </p>
            </div>
          </div>
        </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script src="/js/fitText.js"></script>

<script>
$(".action").on('click', function(){
  $(#box).addClass("blue-border");
});
  
</script>



    </body>
</html>
