<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Caren V. Garcia</title>
        <link rel="stylesheet" href="css/foundation.css" />
        <link rel="stylesheet" href="css/style.css" />
        <meta name="viewport" content="width=device-width">
        <link href="jquery.toolbar.css" rel="stylesheet" />
        <link href="bootstrap.icons.css" rel="stylesheet" />
        <script src="js/vendor/modernizr.js"></script> 
        <script src="js/vendor/jquery.js"></script>

    </head>
    <body>
          
         {% include nav.html %} 

          
          {{ content }}
          
          
          
            <div class="contact">
               <p> Caren V. Garcia</p>
               <p>Aspiring Web Developer</p>
               <p><a href="mailto:carenvaleria90@gmail.com">carenvaleria90@gmail.com</a></p>
            </div>

          <div class="contact">
              <p><a href="https://github.com/carenvaleria">github.com/carenvaleria</a></p>
              <p><a href="https://twitter.com/carenvaleria">twitter.com/carenvaleria</a></p>
        </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="/js/fitText.js"></script>
<script>
$(".action").on('click', function(){
  $(#box).addClass("blue-border");
});
  
</script>
</body>
</html>
